[mergetool]
  keepBackup = true
  prompt = false

[core]
  editor = code --wait
  excludesfile = ~/.gitignore_global
  autocrlf = input
  pager = delta
  hooksPath = ~/.config/git/hooks

[init]
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[diff]
  ignoreSubmodules = dirty

[pull]
  ff = only

[delta]
  navigate = true
  light = false
  side-by-side = true
  line-numbers = true

[include]
  path = ~/.oh-my-custom-zsh/includes/git/.gitconfig_identities
